{% extends 'base.html' %} {% block content %}
<h1 class="page_header">INCOME OF {{ d }}</h1>

<div class="patient_add_form">
  <a href="{% url 'total_monthly_profit' %}"
    ><button class="back_button" type="submit">Back</button></a
  >
</div>

<!------------------------- APPOINTMENT INCOME ------------------------->
{% if payment_details %}
<!--
	<form class="search_form" method = POST action ="{% url 'view_appointment_income_search' %}">
	  {% csrf_token %}
	  <p><button type='submit'>Search</button>
	  	<p><label>Month & Year (Date Paid):</label><input type='month' name = 'date' aria-label ='search'></p>
	  	<p><label>Doctor Assigned:</label><input type='search' placeholder="doctor lastname" name = 'doc' aria-label ='search'></p>
	  	<p><label>Service Done:</label><input type='search' placeholder="service" name = 'service' aria-label ='search'></p>
	  	<p><label>Patient Name:</label><input type='search' placeholder="patient" name = 'name' aria-label ='search'></p>
	  </p>
	</form>

	<p><center class="second_messages">( Click table headers to use filters )</center></p>
-->
<h3 class="page_header">Appointment Income</h3>
<table class="table_form">
  <thead>
    <tr class="tr_form">
      <th class="th_form">Patient Name</th>
      <th class="th_form">Appointment Date</th>
      <th class="th_form">Appointment Time</th>
      <th class="th_form">Doctor assigned</th>
      <th class="th_form">Service Done</th>
      <th class="th_form">Total Payment</th>
      <th class="th_form">Payment Method</th>
      <th class="th_form">Date Paid</th>
    </tr>
  </thead>

  <tr class="tr_form">
    {% for things in payment_details %}
    <td class="td_form">{{ things.appointment_id.patient_id.fullname }}</td>
    <td class="td_form">{{ things.appointment_id.schedule_id.date }}</td>
    <td class="td_form">{{ things.appointment_id.schedule_id.time }}</td>
    <td class="td_form">
      {{ things.appointment_id.schedule_id.doctor_lastname }}
    </td>
    <td class="td_form">{{ things.appointment_id.service_id.service_type }}</td>
    <td class="td_form">{{ things.total_payment }}</td>
    <td class="td_form">{{ things.payment_method }}</td>
    <td class="td_form">{{ things.date_paid }}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
<!-- if no data available -->
<center class="messages">No Appointment Income for this month</center>
{% endif %}

<!------------------------- PRESCRIPTION INCOME ------------------------->
{% if presc_details %}
<!--
	<form class = "search_form" method = POST action ="{% url 'view_presc_income_search' %}">
	  {% csrf_token %}
	  <p><button type='submit'>Search</button>
	  <label>Month & Year (Date Paid):</label><input type='month' name = 'date' aria-label ='search'></p>
	  <p><label>Medicine Bought:</label><input type='search' placeholder='medicine bought search 'name = 'med' aria-label ='search'></p>
	  
	  <p><label>Barcode:</label><input type='search' placeholder='barcode search 'name = 'code' aria-label ='search'></p>
	  <p><label>Patient Name:</label><input type='search' placeholder='patient name search 'name = 'name' aria-label ='search'></p>
	</form>
	

	<p><center class="second_messages">( Click table headers to use filters )</center></p>
	-->
<h3 class="page_header">Purchase Income</h3>
<table class="table_form">
  <thead>
    <tr class="tr_form">
      <th class="th_form">Patient Name</th>
      <th class="th_form">Medicine Bought</th>
      <th class="th_form">Barcode</th>
      <th class="th_form">Quantity</th>
      <th class="th_form">Units</th>
      <th class="th_form">Total Payment</th>
      <th class="th_form">Payment Method</th>
      <th class="th_form">Purchase Date</th>
    </tr>
  </thead>

  <tr class="tr_form">
    {% for things in presc_details %}
    <td class="td_form">{{ things.patient_id.fullname }}</td>
    <td class="td_form">{{ things.item_id.itemname }}</td>
    <td class="td_form">{{ things.item_id.barcode }}</td>
    <td class="td_form">{{ things.quantity }}</td>
    <td class="td_form">{{ things.units }}</td>
    <td class="td_form">{{ things.total_amount }}</td>
    <td class="td_form">{{ things.payment_method }}</td>
    <td class="td_form">{{ things.purchase_date }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<!-- if no data available -->
<center class="messages">No Prescription Income for this month</center>
{% endif %} {% endblock %}
