{% extends 'index.html' %}

{% block content %}
    <!--<form class="login_box">
      <h1>Login</h1>
      <input type="text" name="" placeholder="Username" />
      <input type="password" name="" placeholder="Password" />
      <button class="btn btn-outline-success my-2 my-sm-2" type="submit"><a href="{% url 'home' %}"> Log In </a></button>
      comment<a href="{% url 'home' %}"><input type="submit" name="" value="Login" /></a> comment
    </form>-->

{% endblock %}

<!-- 	<h1>Admin login</h1>
	<button class="btn btn-outline-success my-2 my-sm-2" type="submit"><a href="{% url 'home' %}"> Log In </a></button> -->
