
{% block content %}
	
	<a><button class="btn btn-outline-success my-2 my-sm-2" type="submit"><a href="{% url 'view_additional_appointment_info' primary_key %}">Back</a></button></a>

	<ul class ="messages"> <!-- ERROR MESSAGE -->
   	 {% for message in messages %}
     	 <li{% if message.tags %} class = "{{ message.tags }}" {% endif %}> {{ message }} </li>
    	  {% endfor %}
  	</ul>

	<h1>ADD TOOLS AND ITEMS USED HERE {{ primary_key }}</h1>
	<form class="form-inline my-2 my-lg-0" method="POST">{% csrf_token %}
	
		<a><button class="btn btn-outline-success my-2 my-sm-2" type="submit"><a href="{% url 'check_inventory' primary_key %}">  Check Available Item Quantity and Fees </a></button></a>


		{% if all_data_appointments %}
		<p><label> Appointment ID: </label><input class="form-control mr-sm-2" type="search" value ="{{ all_data_appointments.id }}" aria-label="Search" name="appointment_id" readonly>{{ all_data_appointments.patient_id }}</p>
		{% else %}
		<p><label> Appointment ID: </label><input class="form-control mr-sm-2" type="search" value ="{{ all_data_tools_items_used.appointment_id.id }}" aria-label="Search" name="appointment_id" readonly>{{ all_data_tools_items_used.appointment_id.patient_id }}</p>
		{% endif %}

		<p><label> Item name: </label> <select name="item_id" >
		<option placeholder = " " selected></option>
		{% for things in all_data_inventory %}
			<option value= '{{ things.id }}' > {{ things.itemname }} | Expiry date: {{ things.expiry_date }}</option>
		{% endfor %}
		</select> *</p>



		<p><label> Quantity used: </label><input class="form-control mr-sm-2" type="number" placeholder="Ex: 2" aria-label="Search" name="quantity_used"> *</p>
		<p><label> Units: </label><input class="form-control mr-sm-2" type="search" placeholder="Ex: Bottles" aria-label="Search" name="units"> *</p>
		<!--<p><label> Total Fee: </label><input class="form-control mr-sm-2" type="number" placeholder="Ex: 199.99" aria-label="Search" name="item_tools_fee"> *</p> -->
		<p><label> Date used: </label><input class="form-control mr-sm-2" type="date" value="{{ all_data_appointments.schedule_id.date | date:'Y-m-d'}}"  aria-label="Search" name="date_used"readonly></p>




	<th><button class="btn btn-outline-success my-2 my-sm-2" type="submit"> SAVE </button></th>
	</form>
	
{% endblock %}


