{% extends 'base.html' %} {% block content %}

<h1 class="page_header">Teeth History of {{ all_data_prof.fullname }}</h1>
<h3 class="page_header">Teeth Position: {{ teeth_pos }}</h3>

<div class="patient_add_form">
  <a href="{% url 'teeth_chart' primary_key %}">
    <button class="back_button" type="submit">Back</button>
  </a>
</div>
  <form class="search_form" method = POST action ="{% url 'teeth_history_search' primary_key teeth_pos %}">
    {% csrf_token %}
    <button type='submit'>Search</button></p>
    <p><input type='search' placeholder="search procedure done" name = 'name' aria-label ='search'></p>
    <p><label>Month & Year (Procedure date): </label><input type='month' name = 'date' aria-label ='search'>
  </form>

  {% if procedure_data %}
  <table class="table_form">
    <thead>
      <tr class="tr_form">
        <th class="th_form"><a style="color:#000000" href="{% url 'teeth_history_filter' primary_key teeth_pos 'procedures_done' %}">Procedures Done</th>
        <th class="th_form"><a style="color:#000000" href="{% url 'teeth_history_filter' primary_key teeth_pos 'appointment_id' %}">Date</th>
      </tr>
    </thead>
    {% for things in procedure_data %}
    <tr class="tr_form">
      <td class="td_form">{{ things.procedures_done }}</td>
      <td class="td_form">{{ things.appointment_id.schedule_id.date }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <h1 class="warning_messages">TOOTH HAVE NO RECENT PROCEDURES INVOLVEMENT</h1>
  {% endif %} {% endblock %}


<!--  <h1>Admin login</h1>
   <button class="btn btn-outline-success my-2 my-sm-2" type="submit"><a href="{% url 'home' %}"> Log In </a></button> -->
