{% extends 'base.html' %}

{% block content %}
	<h1 class="page_header">Salary Expense</h1>
	<p class="patient_add_form">
	<button class="back_button" type="submit"><a style="color: #ffffff" href="{% url 'expense_options' %}">Back</a></button>
	</p>

	<form method = POST action ="{% url 'view_salary_expense_search' %}">
	  {% csrf_token %}
	  <button type='submit'>Search</button>
	  <p>Month & Year: <input type='month' name = 'date' aria-label ='search'></p>
	</form>

	

	
	<table class ='table_form'>
	<thead>
		<tr class="tr_form">
			<th class="th_form"><a style="color: #000000" href="{% url 'view_salary_expense_filter' 'profile_id'%}">Employee Name</th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_salary_expense_filter' 'total_salary'%}">Salary</th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_salary_expense_filter' 'total_deduction'%}">Total Deductions</th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_salary_expense_filter' 'total_amount'%}">Total Salary</th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_salary_expense_filter' 'date_given'%}">Date Given</th>

		</tr>
	</thead>
		{% if salary_details %}
		<tr class="tr_form">
			{% for things in salary_details %}
			<td class="td_form">{{ things.profile_id.fullname }}</td>
			<td class="td_form">Php. {{ things.total_salary }}</td>
			<td class="td_form">Php. {{ things.total_deduction }}</td>
			<td class="td_form">Php. {{ things.total_amount }}</td>
			<td class="td_form">{{ things.date_given }}</td>
		</tr>
		{% endfor %}
	</table>


	{% else %}
		<center class ='messages'>Search Not found</center>
	    <br></br>
	    <tr class="tr_form">
	      <td class="td_form"> - </td>
	      <td class="td_form"> - </td>
	      <td class="td_form"> - </td>
	      <td class="td_form"> - </td>
	      <td class="td_form"> - </td>
	    </tr>
	{% endif %}
	
{% endblock %}


