{% extends 'base.html' %}

{% block content %}
<h1 class="page_header"> Stock In Info </h1>
<p class="patient_add_form">
	<button class="back_button" type="submit"><a style="color: #ffffff" href="{% url 'expense_options' %}">Back</a></button></p>

<form class="search_form" method = POST action ="{% url 'view_stockin_expense_search' %}">
	  {% csrf_token %}
	  <button type='submit'>Search</button></p>
	  <p><input type='search' placeholder="search Item name" name = 'name'aria-label ='search'></p>
	  <p><label>Month & Year (Purchase date): </label><input type='month' name = 'date' aria-label ='search'>
	</form>

	
	<table class ='table_form'>
	<thead>
		<tr class="tr_form">
			<th class="th_form"><a style="color: #000000" href="{% url 'view_stockin_expense_filter' stockin_data 'item_name' %}">Item name</a></th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_stockin_expense_filter' stockin_data 'quantity_added' %}">Quantity</th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_stockin_expense_filter' stockin_data 'units' %}">Units</th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_stockin_expense_filter' stockin_data 'total_payment' %}">Total Payment</th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_stockin_expense_filter' stockin_data 'purchase_date' %}">Purchase Date</th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_stockin_expense_filter' stockin_data 'manufacturer' %}">Manufacturer</th>
		</tr>
	</thead>
	{% if stockin_data %}
		<tr class="tr_form">
			{% for things in stockin_data %}
			<td class="td_form">{{ things.item_name }}</td>
			<td class="td_form">{{ things.quantity_added }}</td>
			<td class="td_form">{{ things.units }}</td>
			<td class="td_form">Php. {{ things.total_payment }}</td>
			<td class="td_form">{{ things.purchase_date }}</td>
			<td class="td_form">{{ things.manufacturer }}</td>
		</tr>
	{% endfor %}
	</table>
	{% else %}
	<center class ='messages'>Search not found</center>
	    <br></br>
	    <tr class="tr_form">
	      <td class="td_form"> - </td>
	      <td class="td_form"> - </td>
	      <td class="td_form"> - </td>
	      <td class="td_form"> - </td>
	      <td class="td_form"> - </td>
	      <td class="td_form"> - </td>
	    </tr>
	{% endif %}

{% endblock %}