{% extends 'base.html' %}

{% block content %}
<button class="btn btn-outline-success my-2 my-sm-2" type="submit"> <a href="{% url 'view_finished_appointments' %}">Back</a> </button>
<button class="btn btn-outline-success my-2 my-sm-2" type="submit"> <a href="{% url 'edit_additional_appointment_info' all_data_appointments.id %}">Edit Details</a> </button>
<p>VIEW FINISHED APPOINTMENTS </p>
<table class ='table'>
	<p> APPOINTMENT DETAILS </p>
	<thead>
		<tr>
			<th> Patient Name </th>
			<th> Schedule Date</th>
			<th> Schedule Time</th>
			<th> Assigned Doctor</th>
			<th> Service Chosen </th>
			<th> Service Fee </th>
			<th> Complain </th>
			<th> Appointment Status </th>
		</tr>
	</thead>

	<tr>
		<th>{{ all_data_appointments.patient_id }}</th>
		<th>{{ all_data_appointments.schedule_id.date }}</th>
		<th>{{ all_data_appointments.schedule_id.time }}</th>
		<th>{{ all_data_appointments.schedule_id.doctor_lastname }}</th>
		<th>{{ all_data_appointments.service_id }}</th>
		<th>{{ all_data_appointments.service_id.service_fee }}</th>
		<th>{{ all_data_appointments.complain }}</th>
		<th>{{ all_data_appointments.appointment_status }}</th>
	</tr>
</table>

<!--<p><b>Service Fee: Php. {{ all_data_appointments.service_id.service_fee }} </b></p>-->
<h1> -----------------------------------------------------------------------------------------------------------------------------</h1>
<p> PROCEDURE DETAILS</p>
<p>Instructions: Add the procedures of the services done to this appointment and the corresponding Fee for that service for computation</p>
<p>              Ex: Procedures Done : Extraction | Teeth Position : Left Insicor | Fee: Php. 199 </p>
{% if all_data_procedures %}

<table class ='table'>
	<thead>
		<tr>
			<th> Appointment Date </th>
			<th> Appointment Time </th>
			<th> Procedures Done</th>
			<th> Teeth Position</th>
			<th> Procedure Fee </th>
		</tr>
	</thead>
	{% for things in all_data_procedures %}
	<tr>	
		<th>{{ all_data_appointments.schedule_id.date }}</th>
		<th>{{ all_data_appointments.schedule_id.time }}</th>
		<th>{{ things.procedures_done }}</th>
		<th>{{ things.teeth_position }}</th>
		<th>Php. {{ things.procedures_fee }}</th>
		{% endfor %}
		</tr>
	</table>
	<p><b>Total procedures fee: Php. {{ procedures.procedures_fee__sum }}</b></p> 
{% endif %}
<p><a><button class="btn btn-outline-success my-2 my-sm-2" type="submit"><a href="{% url 'add_procedures' primary_key %}"> Add procedures</button></a></p>


	


<h1> -----------------------------------------------------------------------------------------------------------------------------</h1>
<p> ITEMS/TOOLS USED DETAILS </p>
<p>Instructions: Add the Tools/Items used during this appointment that needs to be paid by the patient</p>
<p>              Ex: Item Name: Cotton | Quantity Used: 1 | Units: Packs | Fee: Php. 25 </p>
{% if all_data_tools_items_used %}
	<table class ='table'>
		<thead>
			<tr>
				<th> Appointment Date </th>
				<th> Appointment Time </th>

				<th> Item Name</th>
				<th> Quantity used </th>
				<th> Units </th>
				<th> Fee </th>
				<th> Date used </th>
			</tr>
		</thead>

		<tr>
			{% for things in all_data_tools_items_used %}
			<th>{{ all_data_appointments.schedule_id.date }}</th>
			<th>{{ all_data_appointments.schedule_id.time }}</th>

			<th>{{ things.item_id.itemname }}</th>
			<th>{{ things.quantity_used }}</th>
			<th>{{ things.units }}</th>
			{% if things.item_tools_fee <= 0%}
			<th>Item is free</th>
			{% else %}
			<th>Php. {{ things.item_tools_fee }}</th>
			{% endif %}
			<th>{{ things.date_used }}</th>
		</tr>
		{% endfor %}
	</table>
	<p><b>Total Tools/Items used Fee: Php {{ tools_fee.item_tools_fee__sum }}</b></p>
{% endif %}
<a><button class="btn btn-outline-success my-2 my-sm-2" type="submit"><a href="{% url 'add_tools_items_used' primary_key %}"> Add Tools/Items used </button></a>



{% if all_data_tools_items_used or all_data_procedures %}
<p><button class="btn btn-outline-success my-2 my-sm-2" type="submit"><a href="{% url 'make_payment' all_data_appointments.id all_data_appointments.service_id.service_fee procedures.procedures_fee__sum tools_fee.item_tools_fee__sum %}">Proceed To Payment </a> </button>
{% endif %}

{% endblock %}

