{% extends 'base.html' %}

{% block content %}

	
	

  	<h1 class="page_header">Buying prescription for {{ all_data_prof.fullname }}</h1>
	<h1 class="second_messages">Patient ID: {{ primary_key }}</h1>

	<ul class ="messages"> <!-- ERROR MESSAGE -->
   	 {% for message in messages %}
     	 <li{% if message.tags %} class = "{{ message.tags }}" {% endif %}> {{ message }} </li>
    	  {% endfor %}
  	</ul>
  	
	<p class="patient_add_form">
	<button class="back_button" type="submit"><a href="{% url 'prescriptions_addorview' primary_key%}"> Back</a> <a href="{% url 'check_medicine' primary_key%}"><button class="edit_button">Check medicines</button></a></button></p>

	<form class="patient_add_form" method="POST">{% csrf_token %}
		<p class="patient_add_instructions"> All Fields with "*" is required. DO NOT LEAVE IT BLANK</p>
			<p><label> Patient Name: *</label><input class="form-control mr-sm-2" type="search" value= '{{ all_data_prof.fullname }}' aria-label="Search" readonly></p>
			<p><label> Patient ID: *</label><input class="form-control mr-sm-2" type="search" value= '{{ primary_key }}' aria-label="Search" name="patient_id"></p>

			<!--
			<label> Choose Medicine: </label>
			<select name="item_id">
			<option placeholder = " " selected></option>	
			{% for things in all_data_inventory %}
 			<option value="{{ things.id }}">Item ID: {{ things.id }} |  Barcode: {{ things.barcode }} |   Item name: {{ things.itemname }}</option>
 			{% endfor %}
			</select>
			-->
			<p><label> Choose Medicine: (select the ID of the Medicine)*</label>
			<input list="item" name="item_id"> 
			<datalist id="item" >
			{% for things in all_data_inventory %}
			  <option value="{{ things.id }}">ID: {{ things.id }} | Barcode: {{ things.barcode }} | Item: {{ things.itemname }} </option>
			{% endfor %}  
			</datalist></input></p>






			<p><label> Quantity: *</label><input class="form-control mr-sm-2" type="number" value = 1 placeholder="" aria-label="Search" name='quantity'></p>

			<p><label> Units: *</label><input class="form-control mr-sm-2" type="search" placeholder="Ex: Tablets" aria-label="Search" name='units'></p>

			<p><label> Purchase Date: *</label><input class="form-control mr-sm-2" type="date" aria-label="Search" name="purchase_date"></p>


			
			<button class="next_button" type="submit"> Calculate total payment </button>
				
	</form>

{% endblock %}