{% extends 'base.html' %} {% block content %} {% if all_data_appointments %}
<h1 class="page_header">
  Procedures of {{ all_data_appointments.patient_id.fullname|title }}'s Appointment
</h1>

<div class="patient_add_form">
    <a href="{% url 'view_additional_appointment_info' primary_key %}"><button class="back_button" type="submit">Back</button></a>
  </div>


<ul class="messages">
  {% for message in messages %} {% if message %}
  <script>
    alert("{{ message }}");
  </script>
  {% endif %} {% endfor %}
</ul>

<form class="patient_add_form" method="POST">
  {% csrf_token %}
  <p class="patient_add_instructions">
    All Fields with "*" is required. DO NOT LEAVE IT BLANK
  </p>
  <p>
    <label> Appointment ID: </label
    ><input
      class="form-control mr-sm-2"
      type="search"
      value="{{ all_data_appointments.id }}"
      aria-label="Search"
      name="appointment_id"
      readonly
    />
  </p>

  <p>
    <label> Teeth of Patient Number: </label
    ><input
      class="form-control mr-sm-2"
      type="search"
      value="{{ all_data_appointments.patient_id.id }}"
      aria-label="Search"
      name="patient_id"
    />
    <!--{{ all_data_appointments.patient_id }} -->
  </p>

  <p>
    <label> Teeth Type: </label
    ><input
      class="form-control mr-sm-2"
      type="search"
      value="{{ teeth.teeth_type }}"
      aria-label="Search"
      readonly
    />
  </p>

  <p>
    <label> Procedures Done: *</label
    ><input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Ex: Anesthesia"
      aria-label="Search"
      name="procedures_done"
    />
  </p>
  {% if teeth.teeth_type == 'Baby'%}
  <label>Teeth Positions: *</label>
  <select name="teeth_position">
    <option value="Lower Central Incisor(Left)">
      Lower Central Incisor(Left)
    </option>
    <option value="Lower Lateral Incisor(Left)">
      Lower Lateral Incisor(Left)
    </option>
    <option value="Lower Canine(Left)">Lower Canine(Left)</option>
    <option value="Lower First Molar(Left)">Lower First Molar(Left)</option>
    <option value="Lower Second Molar(Left)">Lower Second Molar(Left)</option>
    <option value="Lower Central Incisor(Right)">
      Lower Central Incisor(Right)
    </option>
    <option value="Lower Lateral Incisor(Right)">
      Lower Lateral Incisor(Right)
    </option>
    <option value="Lower Canine(Right)">Lower Canine(Right)</option>
    <option value="Lower First Molar(Right)">Lower First Molar(Right)</option>
    <option value="Lower Second Molar(Right)">Lower Second Molar(Right)</option>
    <option value="Upper Central Incisor(Left)">
      Upper Central Incisor(Left)
    </option>
    <option value="Upper Lateral Incisor(Left)">
      Upper Lateral Incisor(Left)
    </option>
    <option value="Upper Canine(Left)">Upper Canine(Left)</option>
    <option value="Upper First Molar(Left)">Upper First Molar(Left)</option>
    <option value="Upper Second Molar(Left)">Upper Second Molar(Left)</option>
    <option value="Upper Central Incisor(Right)">
      Upper Central Incisor(Right)
    </option>
    <option value="Upper Lateral Incisor(Right)">
      Upper Lateral Incisor(Right)
    </option>
    <option value="Upper Canine(Right)">Upper Canine(Right)</option>
    <option value="Upper First Molar(Left)">Upper First Molar(Left)</option>
    <option value="Upper Second Molar(Right)">Upper Second Molar(Right)</option>
  </select>
  {% elif teeth.teeth_type == 'Adult' %}
  <label>Teeth Positions: *</label>
  <select name="teeth_position">
    <option value="Lower Central Incisor(Left)">
      Lower Central Incisor(Left)
    </option>
    <option value="Lower Lateral Incisor(Left)">
      Lower Lateral Incisor(Left)
    </option>
    <option value="Lower Canine(Left)">Lower Canine(Left)</option>
    <option value="Lower 1st Premolar(Left)">Lower 1st Premolar(Left)</option>
    <option value="Lower 2nd Premolar(Left)">Lower 2nd Premolar(Left)</option>
    <option value="Lower First Molar(Left)">Lower First Molar(Left)</option>
    <option value="Lower Second Molar(Left)">Lower Second Molar(Left)</option>
    <option value="Lower Third Molar(Left)">Lower Third Molar(Left)</option>

    <option value="Lower Central Incisor(Right)">
      Lower Central Incisor(Right)
    </option>
    <option value="Lower Lateral Incisor(Right)">
      Lower Lateral Incisor(Right)
    </option>
    <option value="Lower Canine(Right)">Lower Canine(Right)</option>
    <option value="Lower 1st Premolar(Right)">Lower 1st Premolar(Right)</option>
    <option value="Lower 2nd Premolar(Right)">Lower 2nd Premolar(Right)</option>
    <option value="Lower First Molar(Right)">Lower First Molar(Right)</option>
    <option value="Lower Second Molar(Right)">Lower Second Molar(Right)</option>
    <option value="Lower Third Molar(Right)">Lower Third Molar(Right)</option>

    <option value="Upper Central Incisor(Left)">
      Upper Central Incisor(Left)
    </option>
    <option value="Upper Lateral Incisor(Left)">
      Upper Lateral Incisor(Left)
    </option>
    <option value="Upper Canine(Left)">Upper Canine(Left)</option>
    <option value="Upper 1st Premolar(Left)">Upper 1st Premolar(Left)</option>
    <option value="Upper 2nd Premolar(Left)">Upper 2nd Premolar(Left)</option>
    <option value="Upper First Molar(Left)">Upper First Molar(Left)</option>
    <option value="Upper Second Molar(Left)">Upper Second Molar(Left)</option>
    <option value="Upper Third Molar(Left)">Upper Third Molar(Left)</option>

    <option value="Upper Central Incisor(Right)">
      Upper Central Incisor(Right)
    </option>
    <option value="Upper Lateral Incisor(Right)">
      Upper Lateral Incisor(Right)
    </option>
    <option value="Upper Canine(Right)">Upper Canine(Right)</option>
    <option value="Upper 1st Premolar(Right)">Upper 1st Premolar(Right)</option>
    <option value="Upper 2nd Premolar(Right)">Upper 2nd Premolar(Right)</option>
    <option value="Upper First Molar(Right)">Upper First Molar(Right)</option>
    <option value="Upper Second Molar(Right)">Upper Second Molar(Right)</option>
    <option value="Upper Third Molar(Right)">Upper Third Molar(Right)</option>
  </select>
  {% endif %}

  <p>
    <label> Procedures Fee: Php*</label
    ><input
      class="form-control mr-sm-2"
      type="number"
      step="0.01"
      placeholder="Ex: 199.99"
      aria-label="Search"
      name="procedures_fee"
    />
  </p>

  <th>
    <button class="save_button" type="submit">Save</button>
  </th>
</form>

{% else %}
<h1 class="warning_messages">NO DATA AVAILABLE</h1>
{% endif %} {% endblock %}

<!--	
		<label >Teeth Positions:</label>
		<select name="teeth_position">
		  <option value="{{ teeth.LCI_left }}">{{ teeth.LCI_left }}</option>
		  <option value="{{ teeth.LLI_left }}">{{ teeth.LLI_left }}</option>
		  <option value="{{ teeth.LC_left }}">{{ teeth.LC_left }}</option>
		  <option value="{{ teeth.LF_left }}">Lower First Molar(Left)</option>
		  <option value="{{ teeth.LSM_left }}">{{ teeth.LSM_left }}</option>
		  <option value="{{ teeth.LCI_right }}">{{ teeth.LCI_right }}</option>
		  <option value="{{ teeth.LLI_right }}">{{ teeth.LLI_right }}</option>
		  <option value="{{ teeth.LC_right }}">{{ teeth.LC_right }}</option>
		  <option value="{{ teeth.LFM_right }}">{{ teeth.LFM_right }}</option>
		  <option value="{{ teeth.LSM_right }}">{{ teeth.LSM_right }}</option>
		  <option value="{{ teeth.UCI_left }}">{{ teeth.UCI_left }}</option>
		  <option value="{{ teeth.ULI_left }}">{{ teeth.ULI_left }}</option>
		  <option value="{{ teeth.UC_left }}">{{ teeth.UC_left }}</option>
		  <option value="{{ teeth.UF_left }}">{{ teeth.UF_left }}</option>
		  <option value="{{ teeth.USM_left }}">{{ teeth.USM_left }}</option>
		  <option value="{{ teeth.UCI_right }}">{{ teeth.UCI_right }}</option>
		  <option value="{{ teeth.ULI_right }}">{{ teeth.ULI_right }}</option>
		  <option value="{{ teeth.UC_right }}">{{ teeth.UC_right }}</option>
		  <option value="{{ teeth.UFM_right }}">{{ teeth.UFM_right }}</option>
		  <option value="{{ teeth.USM_right }}">{{ teeth.USM_right }}</option>
		</select>

		-->
