{% extends 'base.html' %} {% block content %}
<h1 class="page_header">Salary of Employee {{ all_data_prof.fullname|title }}</h1>
<ul class="messages">
  {% for message in messages %} {% if message %}
  <script>
    alert("{{ message }}");
  </script>
  {% endif %} {% endfor %}
</ul>

<p class="patient_add_form">
  <a href="{% url 'emp_view' %}"
    ><button class="back_button" type="submit">Back</button></a
  >
</p>
<form class="patient_add_form" method="POST">
  {% csrf_token %}
  <p class="patient_add_instructions">
    All Fields with "*" is required DO NOT LEAVE IT BLANK
  </p>
  <p class="patient_add_instructions">Put '0' in the field if not applicable</p>
  <p class="patient_add_instructions">INPUT at 2 decimal places</p>
  <p>
    <label> Employee Name: </label
    ><input
      class="form-control mr-sm-2"
      type="search"
      aria-label="Search"
      value="{{ all_data_prof.fullname }}"
      readonly
    />
  </p>
  <p class="page_header">SALARY</p>
  <p>
    <label> Profile ID: </label
    ><input
      class="form-control mr-sm-2"
      type="search"
      aria-label="Search"
      name="profile_id"
      value="{{ all_data_prof.id }}"
      readonly
    />
  </p>

  <p>
    <label> Regular: Php. *</label
    ><input
      class="form-control mr-sm-2"
      type="number"
      step="0.01"
      placeholder="Ex: 1999.99"
      aria-label="Search"
      name="regular"
    />
  </p>
  <p>
    <label> Overtime: Php. *</label
    ><input
      class="form-control mr-sm-2"
      type="number"
      step="0.01"
      placeholder="Ex: 1999.99"
      aria-label="Search"
      name="overtime"
    />
  </p>
  <p>
    <label> Bonus: Php. *</label
    ><input
      class="form-control mr-sm-2"
      type="number"
      step="0.01"
      placeholder="Ex: 1999.99"
      aria-label="Search"
      name="bonus"
    />
  </p>
  <p>
    <label> Tips: Php. *</label
    ><input
      class="form-control mr-sm-2"
      type="number"
      step="0.01"
      placeholder="Ex: 1999.99"
      aria-label="Search"
      name="tips"
    />
  </p>
  <p>
    <label> Severance: Php. *</label
    ><input
      class="form-control mr-sm-2"
      type="number"
      step="0.01"
      placeholder="Ex: 1999.99"
      aria-label="Search"
      name="severance"
    />
  </p>

  <p class="page_header">DEDUCTIONS</p>
  <p>
    <label> Philhealth: Php. *</label
    ><input
      class="form-control mr-sm-2"
      type="number"
      step="0.01"
      placeholder="Ex: 1999.99"
      aria-label="Search"
      name="philhealth"
    />
  </p>
  <p>
    <label> SSS: Php. *</label
    ><input
      class="form-control mr-sm-2"
      type="number"
      step="0.01"
      placeholder="Ex: 1999.99"
      aria-label="Search"
      name="sss"
    />
  </p>
  <p>
    <label> Pagibig: Php. *</label
    ><input
      class="form-control mr-sm-2"
      type="number"
      step="0.01"
      placeholder="Ex: 1999.99"
      aria-label="Search"
      name="pagibig"
    />
  </p>
  <p>
    <label> Insurance: Php. *</label
    ><input
      class="form-control mr-sm-2"
      type="number"
      step="0.01"
      placeholder="Ex: 1999.99"
      aria-label="Search"
      name="insurance"
    />
  </p>
  <p>
    <label> Tax: Php. *</label
    ><input
      class="form-control mr-sm-2"
      type="number"
      step="0.01"
      placeholder="Ex: 1999.99"
      aria-label="Search"
      name="tax"
    />
  </p>
  <p>
    <label> Others: Php. *</label
    ><input
      class="form-control mr-sm-2"
      type="number"
      step="0.01"
      placeholder="Ex: 1999.99"
      aria-label="Search"
      name="others"
    />
  </p>

  <p>
    <label> Date Given: </label
    ><input
      class="form-control mr-sm-2"
      type="date"
      aria-label="Search"
      name="date_given"
    />
  </p>

  <!--<p><label> Date given: </label><input class="form-control mr-sm-2" type="date" aria-label="Search" name="date_given" ></p> -->

  <button class="save_button" type="submit">Calculate</button>
</form>

{%endblock%}
