{% extends 'base.html' %} {% block content %}

<form class="patient_add_form" method="POST">
  {% csrf_token %}
  <p>
    <!-- <button class="btn btn-outline-success my-2 my-sm-2" type="submit"><a href="{% url 'home' %}"> Back to Home </a></button> -->
    <a href="{% url 'emp_view' %}"
      ><button class="back_button" type="submit">Employee Profiles</button></a
    >
    <a href="{% url 'addemp' %}"
      ><button class="back_button" type="submit">
        Add Employee Profile
      </button></a
    >
    <a href="{% url 'accounts_view' %}"
      ><button class="back_button" type="submit">Employee Accounts</button></a
    >
  </p>
</form>

{% endblock %}
