{% extends 'base.html' %} {% block content %}
<h1 class="page_header">INCOME OF {{ d }}</h1>

<div class="patient_add_form">
  <a href="{% url 'total_monthly_profit' %}"
    ><button class="back_button" type="submit">Back</button></a
  >
</div>

<!------------------------- APPOINTMENT INCOME ------------------------->
{% if payment_details %}

<h3 class="page_header">Appointment Income</h3>
<br></br>
<table class="table_form">
  <thead>
    <tr class="tr_form">
      <th class="th_form">Patient Name</th>
      <th class="th_form">Appointment Date</th>
      <th class="th_form">Appointment Time</th>
      <th class="th_form">Doctor assigned</th>
      <th class="th_form">Service Done</th>
      <th class="th_form">Total Payment</th>
      <th class="th_form">Payment Method</th>
      <th class="th_form">Date Paid</th>
    </tr>
  </thead>

  <tr class="tr_form">
    {% for things in payment_details %}
    <td class="td_form">{{ things.appointment_id.patient_id.fullname|title }}</td>
    <td class="td_form">{{ things.appointment_id.schedule_id.date }}</td>
    <td class="td_form">{{ things.appointment_id.schedule_id.time }}</td>
    <td class="td_form">
      {{ things.appointment_id.schedule_id.doctor_lastname|title }}
    </td>
    <td class="td_form">{{ things.appointment_id.service_id.service_type|title }}</td>
    <td class="td_form">{{ things.total_payment }}</td>
    <td class="td_form">{{ things.payment_method|title }}</td>
    <td class="td_form">{{ things.date_paid }}</td>
  </tr>
  {% endfor %}
</table>
  <center><h3 class = 'page_header'><u>Total Gross Income from Appointments: Php. {{ tot_pay }}</u></h3></center>
{% else %}
<!-- if no data available -->
<center class="messages">No Appointment Income for this month</center>
{% endif %}

<!------------------------- PRESCRIPTION INCOME ------------------------->
{% if presc_details %}
<h3 class="page_header">Prescription Sales Income</h3>
<br></br>
<table class="table_form">
  <thead>
    <tr class="tr_form">
      <th class="th_form">Patient Name</th>
      <th class="th_form">Medicine Bought</th>
      <th class="th_form">Barcode</th>
      <th class="th_form">Quantity</th>
      <th class="th_form">Units</th>
      <th class="th_form">Total Payment</th>
      <th class="th_form">Payment Method</th>
      <th class="th_form">Purchase Date</th>
    </tr>
  </thead>

  <tr class="tr_form">
    {% for things in presc_details %}
    <td class="td_form">{{ things.patient_id.fullname|title }}</td>
    <td class="td_form">{{ things.item_id.itemname|title }}</td>
    <td class="td_form">{{ things.item_id.barcode }}</td>
    <td class="td_form">{{ things.quantity }}</td>
    <td class="td_form">{{ things.units|title }}</td>
    <td class="td_form">{{ things.total_amount }}</td>
    <td class="td_form">{{ things.payment_method|title }}</td>
    <td class="td_form">{{ things.purchase_date }}</td>
  </tr>
  {% endfor %}
</table>
 <center><h3 class = 'page_header'><u>Total Gross Income from Prescription Sales: Php. {{ tot_presc }}</u></h3></center>
{% else %}
<!-- if no data available -->
<center class="messages">No Prescription Income for this month</center>
{% endif %} 
<center><h3 class = 'page_header'><u>Total Gross Income for {{ d }}: Php. {{ total_inc }}</u></h3></center>
{% endblock %}
