{% extends 'base.html' %}


{% block content %}
<h1 class="page_header"> TOTAL MONTHLY EXPENSE</h1>
<ul class ="messages">
   	 {% for message in messages %}
		{% if message %}
		<script>alert("{{ message }}");</script>
		 {% endif %}
    	  {% endfor %}
  	</ul>
<div class="patient_add_form"><a href="{% url 'expense_options' %}"><button class="back_button" type="submit">Back</button></a></div>
	
	
	<form  class="search_form" method="POST">{% csrf_token %}
		<div class="seach_con">
			<button class="normal_button" type="submit">Go</button>
			<p>
				<label> Choose Month and Year: *</label>
			<input type="month" placeholder="" aria-label="Search" name="date"></input>
			</p>
		</div>
	</form>
	<br></br>
	<div class="finance_form">
		<p><label>Chosen Month & Year:</label> <i>{{ d }}</i></p>
	<!--
	{% if bills_data %}
	{% for i in bills_data %}
	{{ i.date_paid }}
	{% endfor %}
	{% else %}
	No data
	{% endif %}

	{% if stockin_data %}
	{% for i in stockin_data %}
	{{ i.purchase_date }}
	{% endfor %}
	{% else %}
	No data
	{% endif %}

	{% if salary_details %}
	{% for i in salary_details %}
	{{ i.purchase_date }}
	{% endfor %}
	{% else %}
	No data
	{% endif %}
	-->


	<p><label>Total Expense for Bills: Php.</label> <i>{{ tot_bill }}</i></p>
	<p><label>Total Expense for Stock In: Php.</label> <i>{{ tot_stockin }}</i></p>
	<p><label>Total Expense for Salary: Php.</label> <i>{{ tot_salary }}</i></p>
	<p><label>Total Expense for {{ d }} : Php.</label> <i>{{ total_exp }}</i></p>
	</div>


	
{% endblock %}