{% extends 'base.html' %}

{% block content %}
	<h1 class="page_header"> INVENTORY </h1>

	<p class="patient_add_form">
		<a href="{% url 'inventory_options' %}"><button class="back_button" type="submit"> Back </button></a>
		<a href="{% url 'add_inventory' %}"><button class="normal_button" type="submit"> Add Item in Inventory </button></a>
		<a href="{% url 'generate' %}"><button class="normal_button" type="submit">Create Inventory Report </button></a>
	</p class="patient_add_form">


	{% if all_data_inventory %}
	<form class="search_form" method = POST action ="{% url 'view_inventory_search' %}">
	  {% csrf_token %}
	  <div class="search_con">
		<p><label>Category: </label><input type='search' placeholder="Category" name = 'cat'aria-label ='search'></p>
		<p><label>Barcode:</label><input type='search' placeholder='barcode search 'name = 'code' aria-label ='search'></p>
		<p><label>Item name: </label><input type='search' placeholder="search Item name" name = 'name'aria-label ='search'></p>
	  </div>
	  <div class="search_con">
		<p><label>Expiry Date: </label><input type='month' name = 'date' aria-label ='search'></p>
		<p><label>Expiry Status: </label><input type='search' placeholder="expiry status" name = 'exp' aria-label ='search'></p>
		<p><label>Location: </label><input type='search' placeholder="Location" name = 'loc'aria-label ='search'></p>
	  </div>
	  <div class="search_con"></div>
	  <div class="search_con"><button type='submit'>Search</button></div>
	  </form>
	  <br></br>
	  <ul class="messages">
		  {% for message in messages %} {% if message %}
		  <script>
		    alert("{{ message }}");
		  </script>
		  {% endif %} {% endfor %}
		</ul>

	  <div class="search_con"></div>
	  <center><p class="third_messages">( Click table headers to sort )</p></center>
	<table class ='table_form'>
	<thead>
		<tr class="tr_form">
			<th class="th_form"><a style="color: #000000" href="{% url 'view_inventory_filter' 'itemname'%}"> Item Name </th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_inventory_filter' 'barcode'%}"> Barcode </th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_inventory_filter' 'itemcategory'%}"> Category </th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_inventory_filter' 'location'%}"> Location </th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_inventory_filter' 'item_fee'%}"> Item Fee if Bought/Used </th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_inventory_filter' 'quantity'%}"> Quantity Available</th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_inventory_filter' 'units'%}"> Units </th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_inventory_filter' 'expiry_date'%}"> Expiry Date </th>
			<th class="th_form"><a style="color: #000000" href="{% url 'view_inventory_filter' 'expiry_status'%}"> Expiry Status </th>
			<th class="th_form2">Edit</th>
		</tr>
	</thead>
	
	<tbody>
		{% for things in all_data_inventory %}
		<tr class="tr_form">
			
			<td class="td_form" data-label="Item Name">{{ things.itemname|title }}</td>
			<td class="td_form" data-label="Barcode">{{ things.barcode }}</td>
			<td class="td_form" data-label="Category">{{ things.itemcategory }}</td>
			<td class="td_form" data-label="Location">{{ things.location|title }}</td>
			<td class="td_form" data-label="Item Fee if Bought/Used">Php. {{ things.item_fee }}</td>
			<td class="td_form" data-label="Quantity Available">{{ things.quantity }}</td>
			<td class="td_form" data-label="Units">{{ things.units|title }}</td>
			{% if things.expiry_date == None %}
			<td class="td_form" data-label="Expiry Date">{{ things.expiry_date }}</td>
			<td class="td_form" data-label="Expiry Status">{{ things.expiry_status|title }}</td>
			{% elif things.expiry_date != None %}
			<td class="td_form" data-label="Expiry Date">{{ things.expiry_date }}</td>
			<td class="td_form" data-label="Expiry Status">{{ things.expiry_status|title }}</td>
			{% endif %}
			<td class="td_form" data-label="Edit"><a style="color: #000000" href="{% url 'editform' things.id 'inventory' %}" ><button class="edit_button">Edit</button> </a></td>
			
		</tr>
		{% endfor %}
	</tbody>
	
	</table>
	{% else %}
		<center class ='messages'><i>No Inventory Data kindly go to "Add Inventory Item" to add</i></center>
	{% endif %}	
	
	
{% endblock %}