{% extends 'base.html' %}

{% block content %}

	<h1 class="page_header">Prescription Income</h1>
	<p class="patient_add_form">
		<a style="color: #ffffff" href="{% url 'income_options' %}"><button class="back_button" type="submit">Back</button></a>
	</p>

	{% if presc_details %}
	<form class = "search_form" method = POST action ="{% url 'view_presc_income_search' %}">
	  {% csrf_token %}
	  <div class="search_con">
			<p><label>Barcode:</label><input type='search' placeholder='barcode search 'name = 'code' aria-label ='search'></p>
			<p><label>Patient Name:</label><input type='search' placeholder='patient name search 'name = 'name' aria-label ='search'></p>
	  </div>
	  <div class="search_con">
			<p><label>Month & Year (Date Paid):</label><input type='month' name = 'date' aria-label ='search'></p>
			<p><label>Medicine Bought:</label><input type='search' placeholder='medicine bought search 'name = 'med' aria-label ='search'></p>
	  </div>
	  <div class="search_con">
	  		<p><button type='submit'>Search</button></p>
	  </div>
	</form>

	<div class="some_space"></div>
	<center><p class="third_messages">( Click table headers to sort )</p></center>
	<table class ='table_form'>
	<thead>
		<tr class="tr_form">
			<th class="th_form"><a style="color:#000000" href="{% url 'view_presc_income_filter' 'patient_id'%}">Patient Name</th>
			<th class="th_form"><a style="color:#000000" href="{% url 'view_presc_income_filter' 'item_id'%}">Medicine Bought</th>
			<th class="th_form"><a style="color:#000000" href="{% url 'view_presc_income_filter' 'item_id'%}">Barcode</th>
			<th class="th_form"><a style="color:#000000" href="{% url 'view_presc_income_filter' 'quantity'%}">Quantity</th>
			<th class="th_form"><a style="color:#000000" href="{% url 'view_presc_income_filter' 'units'%}">Units</th>
			<th class="th_form"><a style="color:#000000" href="{% url 'view_presc_income_filter' 'total_amount'%}">Total Payment</th>
			<th class="th_form"><a style="color:#000000" href="{% url 'view_presc_income_filter' 'payment_method'%}">Payment Method</th>
			<th class="th_form"><a style="color:#000000" href="{% url 'view_presc_income_filter' 'purchase_date'%}">Purchase Date</th>
		</tr>
	</thead>
	<tbody>
		{% for things in presc_details %}
		<tr class="tr_form">
			
			<td class="td_form" data-label="Patient Name">{{ things.patient_id.fullname|title }}</td>
			<td class="td_form" data-label="Medicine Bought">{{ things.item_id.itemname|title }}</td>
			<td class="td_form" data-label="Barcode">{{ things.item_id.barcode }}</td>
			<td class="td_form" data-label="Quantity">{{ things.quantity }}</td>
			<td class="td_form" data-label="Units">{{ things.units|title }}</td>
			<td class="td_form" data-label="Total Payment">Php. {{ things.total_amount }}</td>
			<td class="td_form" data-label="Payment Method">{{ things.payment_method|title }}</td>
			<td class="td_form" data-label="Purchase Date">{{ things.purchase_date }}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	{% else %} <!-- if no data available -->
	<center class ='messages'> No Prescription Income data available</center>
	{% endif %}
	
{% endblock %}


