{% extends 'base.html' %} {% block content %}
<h1 class="page_header">StockIn Options</h1>
<form class="patient_add_form" method="POST">
  {% csrf_token %}
  <p>
    <button class="back_button" type="submit">
      <a href="{% url 'inventory_options' %}">Back</a>
    </button>
  </p>
  <div class="appointment_messages">
    <p><b>NOTE:</b></p>
    <p>If you wish to add a new Item(Non-perishable) Click Stock In new Item</p>
    <p>
      If you wish to Stock In an Item that is currently in the inventory click
      Non-perishable
    </p>
    <p>
      Since doing a Stock In in a Perishable Item might cause some problems on
      it's expiry dates we recommend you to add a new item with a different
      Expiry Date (Click Perishable)
    </p>
  </div>
  <table class="table2_form">
    <tr>
      <th>
        <button class="normal_button" type="submit">
          <a href="{% url 'add_inventory2' %}">Perishable</a>
        </button>
      </th>
      <th>
        <button class="normal_button" type="submit">
          <a href="{% url 'add_nonperishableList' %}">Non Perishable</a>
        </button>
      </th>
      <th>
        <button class="normal_button" type="submit">
          <a href="{% url 'add_inventory3' %}">Stock in New Item</a>
        </button>
      </th>
    </tr>
  </table>
</form>
{% endblock %}
