{% extends 'base.html' %}

{% block content %}
	<h1 class="page_header"> AVAILABLE SERVICES </h1>
	<div class="patient_add_form" >
	<p>
		<button class="back_button" type="submit"><a style="color: #ffffff" href="{% url 'appointments_addorview' %}"> Back </a></button>
		<button class="normal_button" type="submit"> <a style="color: #ffffff" href="{% url 'add_services' %}"> Add New Services </a></button>
		
	</p>
	</div>
	<form class="search_form" method = POST action ="{% url 'view_services_search' %}">
	  {% csrf_token %}
	  <div class="search_con">
		<button type='submit'>Search</button>
		<p><label>Service</label><input type='search' placeholder="search service" name = 'search'aria-label ='search'></p>
	  </div>
	</form>
	<div class="some_space"></div>
	<p class="search_form search_con"><a href="{% url 'view_services' %}"><button type='submit'>Reset Filter and Searched Query</button></a></p>
	{% if all_data_services %}
	<table class ='table_form'>
	<thead>
		<tr class="tr_form">
			<th class="th_form"> Service ID </th>
			<th class="th_form">Service Type </th>
			<th class="th_form">Service Fee </th>
			<th class="th_form">Availability </th>
			<th class="th_form">Edit</th>
		</tr>
	</thead>
	
		<tr class="tr_form">
		{% for things in all_data_services %}	
			<td class="td_form">{{ things.id }}</th>
			<td class="td_form">{{ things.service_type }}</th>
			<td class="td_form">Php {{ things.service_fee }}</th>
			{% if things.availability %}
			<td class="td_form">Available</th>
			{% else %}
			<td class="td_form">Unavailable</th>
			{% endif %}
			<td class="td_form"><a style="color: #000000" href="{% url 'editform' things.id 'services' %}" ><button class="edit_button">Edit</button></a></th>
		</tr>
	{% endfor %}
	</table>
	{% else %}
		<center class ='messages'>Search not found</center>
		<br></br>

	{% endif %}
	
	
	
{% endblock %}